<nav class="menuflottant">
    <ul>
        <li><span><i class="bi bi-save"></i></span><a href="" id="btnenregistrer">Enregistrer</a></li>
        <li><span><i class="bi bi-app"></i></span><a href="" id="btncadre">Cadre</a></li>
        <li><span><i class="bi bi-box-arrow-right"></i></span><a href="" id="btndeconnexion">Déconnexion</a></li>
    </ul>
</nav>