<div class="container-fluid pt-2 ml-0 mr-0 fonddegrade">


    <div class="mentionslegalestitre">
        <h1 class="text-txtitre dosisSB text-uppercase text-center" id="tx_0">mentions légales</h1>
    </div>
    <div class="grid-container-mentions-legales">
        <div class="mentionslegalesgauche">
            <h5 class="text-txtitre dosisSB text-uppercase" >Propriétaire du site </h5> 
            <div class="krub">
                <div>Karine Corbière</div>
                <div>Siège social : Chez Mine de Talents-131 Impasse des Palmiers-Pist Oasis II Bat J – 30 319 Alès – Gard – France</div>
                <div>N° Intracommunautaire : FR02 479 995 896</div>
                <div>N° Siret : 479 995 896 00020 – N.A.F : 7022Z</div>

                <div> <a href="mailto:k.corbiere@adecio.fr?subject=Message%20du%20site%20Adecio&body=Bonjour%20Karine,"
                         >k.corbiere@adecio.fr</a> -- 
                    <a href="tel:+33615337264">06 15 33 72 64</a></div>
            </div> 
            <h5 class="text-txtitre dosisSB text-uppercase mt-4" >Responsable de publication et conception du site</h5>

            <div class="krub">Karine Corbière</div>

            <h5 class="text-txtitre dosisSB text-uppercase mt-4" >Réalisation technique du site</h5>

            <div class="krub">Michel CAVAUD   <a href="tel:+33674288937">06 74 28 89 37</a> – <a href="https://michel.cavaud.net">https://michel.cavaud.net</a></div>

            <h5 class="text-txtitre dosisSB text-uppercase mt-4" >Hébergement</h5>
            <div class="krub">SAS OVH, 2 rue Kellermann, BP 80157, 59100 Roubaix, <a href="https://www.ovh.com/">https://www.ovh.com/</a></div>
            <div class="krub">Ce site utilise des cookies mais ne conserve pas vos adresses mail, vos identités et autres données personnelles.</div>

            <h5 class="text-txtitre dosisSB text-uppercase mt-4" >Informatique et libertés</h5>

            <div class="krub">Conformément aux dispositions de l’article 34 de la loi « Informatique et Libertés » du 6 janvier 1978, 
                vous disposez d’un droit d’accès aux données qui vous concernent. Pour exercer votre droit d’accès et de rectification en 
                application de l’article 34 de la loi « Informatique et Liberté » du 6 janvier 1978, adressez-nous 
                un courrier électronique à : <a href="mailto:k.corbiere@adecio.fr?subject=Message%20du%20site%20Adecio&body=Bonjour%20Karine,"
                                                >k.corbiere@adecio.fr</a></div>



        </div>

        <div class="mentionslegalesdroite">
            <h5 class="text-txtitre dosisSB text-uppercase mt-4" >Propriété intellectuelle</h5>

            <p class="krub">Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo, icônes, sons, logiciels, etc.) 
                restent la propriété exclusive de leurs auteurs, en ce qui concerne les droits de propriété intellectuelle ou les droits d’usage. 
            </p>

            <p class="krub">Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, 
                quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de l’auteur.
            </p>

            <p class="krub">Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient est considérée
                comme constitutive d’une contrefaçon et poursuivie. 
            </p>
            
            <h5 class="text-txtitre dosisSB text-uppercase mt-4" > Liens</h5>
           
            <div class="krubBold">Liens sortants</div>
            <p class="krub">Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement 
                via des liens hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur contenu que leur pertinence.
            </p>
            
            <div class="krubBold"> Liens entrants</div>
           
            <div class="krub">Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, 
            à condition que ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter :
            </div>
            <div class="krub">-- tout risque de confusion entre le site citant et le propriétaire du site</div>
            <div class="krub">-- ainsi que toute présentation tendancieuse, ou contraire aux lois en vigueur.</div>
            <p></p>
            <p class="krub">Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site source ne 
            respecte pas les règles ainsi définies.</p>

        </div>
    </div>

</div>