
<section>
    <div class="container-fluid bg-black ">
        <div class="grid-containerfooter text-txcopy">
            <div class="fin"></div>
            <div class="photo small   text-center krub"></div>
            <div class="barre3"></div>
            <div class="tout small text-center krub">Tous droits réservés</div>
            
            <div class="barre2"></div>
            <div class="design small text-center krub">Design &copy; <a class="liencopyright krubBold" href="https://fredjarnot.fr/" target="_blanck">Fred Jarnot</a></div>
            <div class="barre1"></div>
            <div class="site small text-center krub">Site &copy; <a class="liencopyright krubBold" href="https://michel.cavaud.net/" target="_blanck">Michel CAVAUD</a></div>
            <div class="vide"></div>
            <div class="mentions small krub"> <a class="liencopyright krubBold" href="">MENTIONS LÉGALES</a></div>
            <div class="debut"></div>
        </div>
    </div>
</section>