
<section>
    

    <div class="grid-containerFooterHaut container-fluid py-4  ml-0 mr-0 fonddegradeinv" role="img" aria-label="Eventail">
        <div class="typeGaucheFooterHaut"></div>
        <div class="typeCentreFooterHaut">
            <h4 class="text-txtitre dosis">ACCES RAPIDES</h4>
            <hr class="my-1 colorhr">
           <a href="" class="lienrapide"><h6 class="krub my-auto py-1">Quel type de choaching choisir?</h6></a>
            <hr class="my-1 colorhr">
            <a href="" class="lienrapide"><h6 class="krub my-auto py-1">Ai-je besoin de me former ?</h6></a>
            <hr class="my-1 colorhr">
            <a href="" class="lienrapide"><h6 class="krub my-auto py-1">Plan du site</h6></a>
            <hr class="my-1 colorhr mb-3">
        </div>
        <div class="typeDroiteFooterHaut"> <div class="row">
                <div>
                    <img class="img-fluid" alt="Logo ADECIO" src="{{ base_url('assets/images/ADECIO.png') }}" width="30%"/>
                    <h6 class="krub mb-4">Accompagner vos potentiels professionnels</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-6 krub">
                    <h6>Karine Corbière</h6>
                    <a href="" class="lienrapide"><h6>k.corbiere@adecio.fr</h6></a>
                    <h6>06 15 33 72 64</h6>
                </div>
                <div class="col-6">
                    <a href="" class="bi bi-facebook"  style=" color:#3b5998;"></a>
                    <a href=""  class="bi bi-whatsapp" style=" color: #4AC959;"></a>
                    <a href=""  class="bi bi-twitter" style=" color:#00acee;"></a>
                    <a href=""  class="bi bi-instagram" style=" color: #3f729b ;"></a>
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="container-fluid bg-black ">
        <div class="grid-containerfooter text-txcopy">
            <div class="fin"></div>
            <div class="tout small text-center krub">Tous droits réservés</div>
            <div class="barre3"></div>
            <div class="photo small   text-center krub">Photo et vidéo &copy; xxxxxxxxxxxx</div>
            <div class="barre2"></div>
            <div class="design small text-center krub">Design &copy; Fred Jarnot</div>
            <div class="barre1"></div>
            <div class="site small text-center krub">Site &copy; Michel</div>
            <div class="vide"></div>
            <div class="mentions small krub">MENTIONS LÉGALES</div>
            <div class="debut"></div>
        </div>
    </div>
</section>

