


<div class="container">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" 
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="img-fluid pl-5" alt="Logo ADECIO" src="{{ base_url('assets/images/ADECIO.png') }}" width="200"/>
        </a>
        <div class="collapse navbar-collapse justify-content-around" id="navbar">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">COACHING PRO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">COACHING PERSO</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">FORMATION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ADECIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>
            </ul>

        </div>

    </nav>
</div>
        


