<section id="top" >
    <div class="flament">
        <div id="image" role="img" aria-label="Trois flaments roses">
            <span id="image-inner">
            </span>
        </div>
    </div>
</section>

<section>
    <div class="container my-5">
        <div class="row text-center justify-content-center">
            <div class ="col-md-12 col-lg-8 ">
                <h3 class="text-txtitre dosisSB text-uppercase">Accompagner l’émergence de vos potentiels professionnels</h3>
                <h5 class="text-txcorps krub espacement">Face à l’incertitude et à la complexité des enjeux internes et externes, 
                    Adecio accompagne des personnes, coache des équipes et des organisations qui souhaitent relever de nouveaux défis.
                </h5>
            </div>

        </div>
    </div>
    <div class="container-fluid pt-2 ml-0 mr-0 fonddegrade">
        <div class="grid-container text-center">
            <div class="A1 titre shadowAdecio bg-white roundedAdecio rotateAdecio">
                <h4 class="m-auto dosisSB text-txtitre">DIRIGEANTS<br/>& MANAGERS</h4>
            </div>
            <div class="A2 bg-bgcentre row roundedHautAdecio">
                <h5 class="m-auto dosis text-txcorps espacement">
                    Mobiliser ses ressources personnelles pour mieux se positionner dans son rôle   
                </h5>
            </div>
            <div class="A3 row">
                <div class="bg-bgbas gauche">
                    <div class="triangle m-auto"></div>
                </div>
                <div class="bg-bgbas gauche roundedBasAdecio">
                    <a href="" class="lienpro"><h5 class="text-txbas dosis">COACHING INDIVIDUEL<br>DES MANAGERS ET DIRIGEANTS</h5></a>
                </div>
            </div>

            <div class="B1 titre shadowAdecio bg-white roundedAdecio rotateAdecio">
                <h4 class="m-auto dosisSB text-txtitre">DIRIGEANTS<br/>& MANAGERS</h4>
            </div>
            <div class="B2 bg-bgcentre row roundedHautAdecio">
                <h5 class="m-auto dosis text-txcorps espacement">
                    Développer les ressources et l'intelligence collective de ses équipes
                </h5>
            </div>
            <div class="B3 row bg-bgcentre roundedBasAdecio">
                <div class="B3haut">
                    <div class="bg-bgbas centrehaut">
                        <div class="trianglep m-auto"></div>
                    </div>        
                    <div class="bg-bgbas text-txbas dosis centrehaut py-2">
                        <a href="" class="lienpro"><h5 class="my-auto">TEAM BUILDING</h5></a>
                    </div> 
                </div>
                <div class="B3bas">
                    <div class="bg-bgbas mt-1 centrebas">
                        <div class="trianglep m-auto"></div>
                    </div>
                    <div class="bg-bgbas text-txbas dosis roundedBasAdecio centrebas py-2">
                        <a href="" class="lienpro"><h5 class="my-auto">FORMATION</h5></a>
                    </div>
                </div>
            </div>

            <div class="C1 titre row  shadowAdecio bg-white roundedAdecio rotateAdecio">
                <h4 class="m-auto dosisSB text-bgasdroite">PARTICULIERS</h4>
            </div>
            <div class="C2 bg-bgcentre row roundedHautAdecio ">
                <h5 class="m-auto dosis text-txcorps espacement">
                    Booster ses potentiels personnels pour bien vivre sa vie professionnelle  
                </h5>

            </div>
            <div class="C3 row">
                <div class="bg-bgasdroite droite">
                    <div class="triangle m-auto"></div>
                </div>
                <div class="bg-bgasdroite droite roundedBasAdecio dosis text-txdroite">
                    <a href="" class="lienperso"><h5>COACHING INDIVIDUEL</h5></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5 bg-white">
    <div class="container my-4">
        <div class="row text-center justify-content-center mb-1">
            <div class ="col-md-12 col-lg-8 mb-3">
                <h3 class="text-txtitre dosisSB text-uppercase">De sa situation actuelle à la situation souhaitée</h3>
                <h5 class="text-txcorps krub espacement">Adecio accompagne les personnes qui souhaitent évoluer dans leur vie professionelle et les organisations
                    qui ont besoin de revisiter leurs missions, leur raison d'être ou travailler sur leurs nouveaux enjeux et projets à moyen et long terme.
                </h5>
            </div>
        </div>

        <div class="row text-center justify-content-center dosis">
            <div class="col-md-12 col-lg-5">
                <div class="grid-container2">

                    <a href="" class="lienpro M1 roundedHautAdecio bg-bgbas text-txbas pt-2 mb-0"><h5 class="">EN SAVOIR PLUS SUR LE COACHING</h5></a>
                    <div class="M2"></div>
                    <div class="N1">
                        <div class="bg-bgbas gauchepro">
                            <div class="trianglepInv m-auto"></div>
                        </div>

                    </div>
                    <div class="N2"></div>
                    <div class="O"></div>
                    <div class="P1"></div>
                    <div class="P2 m-0 p-0">
                        <div class="bg-bgasdroite droiteperso">
                            <div class="trianglepblanc m-auto"></div>
                        </div>
                    </div>
                    <div class="Q1 m-0 p-0"></div>
                    <a href="" class="lienpro Q2 roundedBasAdecio bg-bgasdroite text-txdroite mt-0 mb-0"><h5 class="mt-1">DÉCOUVRIR LA COACH & SES VALEURS</h5></a>
                </div>

            </div>
        </div>
    </div>

</section>

<script>

    $('.M1').on("mouseover", function () {
        $('.gauchepro').removeClass('bg-bgbas');
        $('.gauchepro').css("background-color", '#338f98');
    });
    $('.M1').on("mouseout", function () {
        $('.gauchepro').addClass('bg-bgbas');
        $('.gauchepro').css("background-color", '');
    });
    $('.Q2').on("mouseover", function () {
        $('.droiteperso').removeClass('bg-bgasdroite');
        $('.droiteperso').css("background-color", '#ED638C');
    });
    $('.Q2').on("mouseout", function () {
        $('.droiteperso').addClass('bg-bgasdroite');
        $('.droiteperso').css("background-color", '');
    });
    
    
    $(window).scroll(function () { 
        if ($(this).scrollTop() > 200 ) {  
            $('#scrollUp').css("visibility", "visible");
            $('#scrollUp').css('right' , '100px');  
            $('#scrollUp').animate({'bottom' : '100px'});          
        } else { 
            
             $('#scrollUp').animate({'bottom' : ''});  
            $('#scrollUp').css('right' , '');  
            $('#scrollUp').css("visibility", "hidden");
           
          
        }
    });
   
</script>