
<div class="container">
    <div class="grid-container text-center">
        <div class="A1 titre shadowAdecio bg-white roundedAdecio rotateAdecio mx-4">
            <h3>DIRIGEANTS<br/>& MANAGERS</h3>
        </div>
        <div class="A2 bg-success row roundedHautAdecio p-5">
            <h4 class="m-auto">
                Mobiliser ses ressources personnelles pour mieux se positioner dans son rôle   
            </h4>

        </div>
        <div class="A3 row">
            <div class="bg-secondary ">
                <div class="triangle m-auto"></div>
            </div>
            <div class="bg-secondary roundedBasAdecio text-white ">
                <h5>COACHING INDIVIDUEL<br>DES MANAGERS ET DIRIGEANTS</h5>
            </div>
        </div>

        <div class="B1 titre shadowAdecio bg-white roundedAdecio rotateAdecio mx-4">
            <h3>DIRIGEANTS<br/>& MANAGERS</h3>
        </div>
        <div class="B2 bg-light row roundedHautAdecio p-5">
            <h4 class="m-auto">
                Développer les resoources et intelligence collective de ses équipes
            </h4>

        </div>
        <div class="B3 row bg-light  roundedBasAdecio">
            <div class="bg-secondary">
                <div class="trianglep m-auto"></div>
            </div>        
            <div class="bg-secondary text-white">
                <h5>TEAM BUILDING</h5>
            </div>       
            <div class="bg-secondary  mt-1 ">
                <div class="trianglep m-auto"></div>
            </div>
            <div class="bg-secondary text-white roundedBasAdecio">
                <h5>FORMATION</h5>
            </div>
        </div>

        <div class="C1 titre row  shadowAdecio bg-white roundedAdecio rotateAdecio mx-4">
            <h3 class="m-auto">PARTICULIERS</h3>
        </div>
        <div class="C2 bg-success row roundedHautAdecio p-5">
            <h4 class="m-auto">
                Booster ses potentiel personnels pour bien vivre sa vie professionnelle  
            </h4>

        </div>
        <div class="C3 row">
            <div class="bg-secondary ">
                <div class="triangle m-auto"></div>
            </div>
            <div class="bg-secondary roundedBasAdecio text-white ">
                <h5>COACHING INDIVIDUEL</h5>
            </div>
        </div>
    </div>
</div>