<section id="top" >
    <div class="flament">
        <div id="image" role="img" aria-label="Trois flaments roses">
            <span id="image-inner">
            </span>
        </div>
    </div>
</section>

<section id="accompagnerType">
    <div class="container mb-5">
        <div class="row text-center justify-content-center">
            <div class ="col-md-12 col-lg-8 ">
                <h3 class="text-txtitre dosisSB text-uppercase" id="tx_1">Besoin d’optimiser votre management ?</h3>
                <h5 class="text-txcorps krub espacement"  id="tx_2">Adecio accompagne les managers et dirigeants d’entreprise 
                    dans l’émergence et la consolidation de leurs ressources. 
                    Un coaching individuel pour trouver vos propres solutions, 
                    donner du sens à vos missions et développer de nouvelles compétences
                </h5>
            </div>

        </div>
    </div>
    <div class="container-fluid pt-2 ml-0 mr-0 fonddegrade">
        <div class="grid-containerType">
            <div class="typeGauche krubBoldItalic">
                <p  id="tx_3">Diriger signifie souvent prendre des décisions seul tout en portant des objectifs ambitieux, ce qui entraine parfois un sentiment de solitude managériale</p>

                <p  id="tx_4">Adecio vous accompagne en intégrant 
                    votre environnement et vos perspectives 
                    et favorise un espace ressource personnalisé pour prendre du recul, analyser et ajuster sa posture.</p>

                <p  id="tx_5">Le coaching développe la motivation des équipes, harmonise les relations et équilibre 
                    vie professionnelle et personnelle.<p>

            </div>

            <div class="typeCentre">
                <h5 class="text-txtitre dosisSB text-uppercase"  id="tx_6">L’avenir vous interroge… 
                    &ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
                    <img class="img-fluid" alt="flèche rose" src="{{ base_url('assets/images/flecherose.png') }}"/>
                </h5> 

                <ul class="krub">
                    <li  id="tx_7">Changements professionnels </li>
                    <li  id="tx_8">Réorganisations</li>
                    <li  id="tx_9">Orientation stratégique</li>
                </ul>
            </div>

            <div class="typeDroite">
                <h5 class="text-txtitre dosisSB text-uppercase"  id="tx_10">Et nécessite de développer les compétences?</h5>
                <ul>
                    <li class="krubBold"  id="tx_11">
                        Aligner sa réflexion et sa posture
                    </li>
                    <div class="krub pl-1" id="tx_12">Considérer ses enjeux et ses motivations,</div>
                    <div class="krub" id="tx_13">Identifier le sens de son engagement</div>
                    <div class="krub" id="tx_14">Conscientiser sa valeur ajoutée</div>

                </ul>
                <ul>
                    <li class="krubBold" id="tx_15">
                        Renforcer son identité managériale
                    </li>
                    <div class="krub" id="tx_16">Adapter sa communication et développer son savoir-être</div>
                    <div class="krub" id="tx_17">Accroitre l’assertivité et l’aisance relationnelle</div>             
                    <div class="krub" id="tx_18">Mobiliser les potentiels, les savoir-faire, et la cohésion</div>
                </ul>
                <ul>
                    <li class="krubBold" id="tx_19">
                        Stimuler les richesses humaines
                    </li>
                    <div class="krub" id="tx_20">Favoriser la responsabilité, l’autonomie et la coopération</div>
                    <div class="krub"  id="tx_21">Optimiser les conditions de travail et la gestion du temps</div>
                    <div class="krub" id="tx_22">Identifier les processus interindividuels et les enjeux</div>

                </ul>

            </div>
        </div>
</section>

<section class="mb-5 bg-white">
    <div class="grid-containerTypeCentre">
        <div class="typeGaucheCentre">

        </div>
        <div class="typeCentreCentre ">

            <div class="bg-bgbas centrehaut">
                <div class="trianglep m-auto"></div>
            </div>        
            <div class="bg-bgbas meContacter text-txbas dosis centrehaut py-1 roundedBasAdecio text-center">
                <a href="" class="lienpro"><h5 class="my-auto" id="tx_23">ME CONTACTER</h5></a>
            </div> 
            <h3 class="text-txtitre dosisSB text-uppercase my-3 my-md-5"  id="tx_24">Et en pratique ?</h3> 

        </div>
        <div class="typeDroiteCentre"></div>
    </div>

    <div class="grid-containerTypeBas">
        <div class="typeGaucheBas">
            <img class="img-fluid" alt="" src="{{ base_url('assets/images/imageprovisoire.png') }}"/>
        </div>
        <div class="typeCentreBas ">
            <h5 class="text-txtitre dosisSB text-uppercase"  id="tx_25">le processus</h5> 
            <ul class="krub">
                <div  id="tx_26">1. Premier rendez-vous prise de contact (non facturé) et réalisation d’un premier diagnostic qui définit:</div>
                <li  id="tx_27">les enjeux </li>
                <li id="tx_28">les objectifs </li>
                <li id="tx_29">les indicateurs de réussites</li>

            </ul>
            <div class="krub mt-2" id="tx_30">
                2. Envoie d’une proposition dans les sept jours précisant le cadre de travail et sa durée. 
            </div>
            <div class="krub mt-2" id="tx_31">
                3. Mise en place d’un calendrier dès la signature du contrat.
            </div>

        </div>
        <div class="typeDroiteBas">
            <h5 class="text-txtitre dosisSB text-uppercase"  id="tx_32">la séance</h5> 
            <div class="krubBold" id="tx_33">Séance : 1h30</div>
            <div class="krub" id="tx_34">Possibilité d’intervention à la demie journée ou à la journée.
                <b>En visio, en entreprise ou à mon bureau (Nîmes)</b> selon vos préférences. </div>

            <h5 class="text-txtitre dosisSB text-uppercase mt-2"  id="tx_35">le tarif</h5> 
            <div class="krub" id="tx_36"><b>Sur devis</b> à partir d’une proposition établie sur mesure.  </div>
            
            <div class="row rdvEnBas">
               
                    <div class="roundedHautAdecio prendreRdv bg-bgasdroite text-txbas pt-2 mb-0 dosis text-center">
                        <a href="" class="lienperso" >
                            <h5 class=" mb-0" id="tx_37">PRENDRE RENDEZ-VOUS</h5>
                        </a>
                    </div>

                    <div class="bg-bgasdroite gauchepro">
                        <div class="trianglepInv m-auto"></div>
                    </div>
                
               
            </div>
            


        </div>
    </div>

</section>
        
        <script>
    $(document).ready(function() {
        $('.meContacter').on("mouseover", function () {
            $('.centrehaut').removeClass('bg-bgbas');
            $('.centrehaut').css("background-color", '#338f98');
           
        });
        $('.meContacter').on("mouseout", function () {
            $('.centrehaut').addClass('bg-bgbas');
            $('.centrehaut').css("background-color", '');
            
        });
        $('.prendreRdv').on("mouseover", function () {
            $('.gauchepro').removeClass('bg-bgasdroite');
            $('.gauchepro').css("background-color", '#ED638C');
            
        });
        $('.prendreRdv').on("mouseout", function () {
            $('.gauchepro').addClass('bg-bgasdroite');
            $('.gauchepro').css("background-color", '');
            
        });


        $(window).scroll(function () { 
            if ($(this).scrollTop() >= 200 ) {  
               
                $('#scrollUp').css("visibility", "visible");
                $('#scrollUp').css('bottom','50px');
                console.log('sup');
            } else { 
               
                $('#scrollUp').css('visibility','');
               
                console.log('inf');
            }
        });
    });
</script>